#gridCraft{-fx-border-color: green;}

#reservePane,.inventaireSP,#matierePrem,#gridCraft,#inventairePane{
    -fx-background-color: black;
    -fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.7), 10, -10, 0, 5);
}

#b_categorie{-fx-border-style: none;}

Label#hinventaire,#h1{
    -fx-text-fill: green;
}

.body,Button#menu{-fx-background-color: rgb(32,32,32)}
#paneHome, #paneHome Button{
    -fx-background-color: black;
}
#paneHome Button{
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-pref-width: 290;
    -fx-pref-height: 75;
}
#paneHome Button:hover{
    -fx-border-style: dashed;
    -fx-border-color: green;
    -fx-text-fill: green;
}
Button#menu{
    -fx-text-fill: white;
    -fx-pref-width: 100;
    -fx-pref-height: 20;
}
Button#menu:hover{
    -fx-text-fill: green;
}
#aideLabel{
    -fx-text-fill: white;
}
.caseMatrice{
    -fx-border-color: green;
    -fx-padding: 30;
}