.button#crafter {
    -fx-background-color: red;
    -fx-text-fill: white;
}
#gridCraft{
    -fx-background-color: white;
}
#reserve, #vboxreserve #hbCategorie button{
    -fx-background-color: #B2DCD7;
}